
<div class="container">
<div class="media">
  <div class="media-body">
    <h3 class="display-4 florist">
    OnlineBookStore.com
  </h3>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <ul class="nav nav-tabs">

    <li class="nav-item" dropdown >
      <a dropdownToggle class="nav-link dropdown-toggle">
        Books
      </a>
      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item" href="/books">All Books</a>
        <a class="dropdown-item" href="/devops">Devops</a>
        <a class="dropdown-item" href="/jenkins">Jenkins</a>
        <a class="dropdown-item" href="/aws">Aws</a>
        <a class="dropdown-item" href="/scripting">Scripting</a>
        <a class="dropdown-item" href="/linux">Linux</a>
        <a class="dropdown-item" href="/java">Java</a>
        <a class="dropdown-item" href="/maven">Maven</a>
        <a class="dropdown-item" href="/others">Others</a>
      </div>
    </li>

    <li class="nav-item" dropdown >
      <a dropdownToggle class="nav-link dropdown-toggle">
        Documents
      </a>
      <div *dropdownMenu class="dropdown-menu">
        <a class="dropdown-item" href="/books">All Documents</a>
        <a class="dropdown-item" href="/devops">Devops</a>
        <a class="dropdown-item" href="/jenkins">Jenkins</a>
        <a class="dropdown-item" href="/aws">Aws</a>
        <a class="dropdown-item" href="/aws">Scripting</a>
        <a class="dropdown-item" href="/aws">Linux</a>
        <a class="dropdown-item" href="/aws">Java</a>
        <a class="dropdown-item" href="/aws">Others</a>
      </div>
    </li>
   
</ul>
</nav>
  </div>
</div>
</div>

<router-outlet></router-outlet>



<footer class="page-footer font-small mdb-color lighten-3 pt-4 bg-light">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/devopshands.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/devbooks.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/gitlab.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/mobileDevops.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/kub.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/DEnginer.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <p>OnlineBookstore.com</p>
  </div>
  <!-- Copyright -->

</footer>