
<div class="container">
<div class="media">
  <div class="media-body">
    <h3 class="display-4 florist">
    OnlineBookStore.com
  </h3>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="nav justify-content-center">
       <li class="nav-item"><a class="nav-link" routerLink="/books">Books</a></li>
      <li class="nav-item"> <a class="nav-link" routerLink="/devops">Devops</a></li>
      <li class="nav-item"> <a class="nav-link" routerLink="/jenkins">Jenkins</a></li>
      <li class="nav-item"> <a class="nav-link" routerLink="/aws">Aws</a></li>
      <li class="nav-item"> <a class="nav-link" routerLink="/books">Linux</a></li>
      <li class="nav-item"> <a class="nav-link" routerLink="/books">Scripting</a></li>
      
</ul>
</nav>
  </div>
</div>
</div>

<router-outlet></router-outlet>



<footer class="page-footer font-small mdb-color lighten-3 pt-4 bg-light">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/devopshands.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/devbooks.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/gitlab.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/mobileDevops.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/kub.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="./assets/images/DEnginer.jpg" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <p>OnlineBookstore.com</p>
  </div>
  <!-- Copyright -->

</footer>